* {
    box-sizing: border-box; /* CSS에서 요소의 크기 계산 방식 변경.*/
    padding: 0;
    margin: 0;
}

body {
    background-color: whitesmoke;
    color: black;
    font-size: 16px;
    line-height: 1.5;
}

.container {
    max-width: 1100px;
    margin: 0 auto;
    padding: 0 30px;
}

.main {
    color: black;
    line-height: 2;
}

.navbar {
    background-color: black;
    color: white;
    height: 60px;
}

.navbar .container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 100%;
    align-items: center;
}

.navbar ul {
    display: flex;
    flex-direction: row;
    list-style-type: none;
}

.navbar ul li {
    margin-left: 20px;
}

.navbar .logo {
    font-size: x-large;
    font-weight: bold;
}

.navbar a {
    color: white;
    text-decoration: none;
    font-size: 18px;
    font-weight: bold;
}

.navbar a:hover {
    border-bottom: 2px #fff solid;
    color: #ddd;
}

button { /*태그 이름*/
    padding: 5px 10px;
    margin: 5px 5px;
    font-size: 18px;
    font-weight: bold;
    background-color: white;
    border-radius: 5px;
}

button:hover {
    background-color: lightgray;
    color: black;
}